<ion-header>
  <ion-toolbar>
    <ion-title>
      华语
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6" *ngFor="let item of playlists">
      <a [routerLink]="['/tabs/music/musicDetail',item.id]">
        <ion-card class="welcome-card">
          <img [src]="item.coverImgUrl" alt="" />
          <ion-card-header>
            <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </a>
    </ion-col>
  </ion-row>
</ion-content>